main {
  position: relative;
  background: #fff;
  height: 2200px;
}

.video-wrap {
  width: 100%;
}

.video-wrap::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .05);
  z-index: 10;
}

.video-wrap video {
  width: 100%;
  height: 100%;
}

.content-overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 100;
    padding: 50px 0;
    background: url('../img/bg.png');
}

.content-overlay h1,
.content-overlay p {
  text-align: center;
  color: #fff;
}