/* Somos */
.mtop-0{
	margin-top: 0 !important;
}
.pTop-13{
	padding-top: 13%;
}
.navbar-inverse{
	z-index: 999;
}
.col-nav li a{
	font-family: Andes;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: ;
}
.bg-aurora{
	background-image: url('..img/bg-aurora.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.col-overly{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 9;

  background-image: url('../img/bg-somos');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%;
}
.content-overlay-no-bg{
  width: 35%;
  text-align: center;
  font-family: 'Andes';
  background-image: none;
}


.gold-font > h2{
    color: #d0b077;
    font-size: 25px;
}
h2 span{
	text-transform: uppercase;
	font-size: 28px;
}

.fix-col{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 5%;
}

.fix-img{
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fix-img a img{
  max-width: 520px;
}


@media (max-width: 479px){
  .fix-col {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5%;
    background-color: #fff;
  }
  .col-overly {
    background-size: 195%;
  }
  .content-overlay-no-bg {
    width: 100%;
    text-align: center;
    font-family: 'Andes';
    background-image: none;
    padding: 45% 20px;
}
.gold-font > h2 {
    color: #d0b077;
    font-size: 16px;
}
.gold-font p {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: inherit;
    margin-top: 20px;
}
.fix-img a img{
  max-width: 100%;
}
}