body{
  font-size: 12px;
  color: #ababab;
  background: #f8f8f8;
  font-family: 'Muli', sans-serif;
}

canvas#canvasNieve {
  display: block;
  position:absolute;
  top: 0;
}
.nieve{
  position:absolute;
  top:0;
  min-height:100%;
  z-index: 100;
  pointer-events: none;
}

@font-face {
  font-family: 'Bergamot';
  src: url('../fonts/hinted-Bergamot.eot');
  src: local('Bergamot'),
    url('../fonts/hinted-Bergamot.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-Bergamot.woff2') format('woff2'),
    url('../fonts/hinted-Bergamot.woff') format('woff'),
    url('../fonts/hinted-Bergamot.ttf') format('truetype'),
    url('../fonts/hinted-Bergamot.svg#Bergamot') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Delight Script';
  src: url('../fonts/hinted-DelightScript.eot');
  src: local('Delight Script'), local('DelightScript'),
    url('../fonts/hinted-DelightScript.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-DelightScript.woff2') format('woff2'),
    url('../fonts/hinted-DelightScript.woff') format('woff'),
    url('../fonts/hinted-DelightScript.ttf') format('truetype'),
    url('../fonts/hinted-DelightScript.svg#DelightScript') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Andes';
  src: url('../fonts/hinted-Andes.eot');
  src: local('Andes'),
    url('../fonts/hinted-Andes.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-Andes.woff2') format('woff2'),
    url('../fonts/hinted-Andes.woff') format('woff'),
    url('../fonts/hinted-Andes.ttf') format('truetype'),
    url('../fonts/hinted-Andes.svg#Andes') format('svg');
  font-weight: normal;
  font-style: normal;
}

a {
    color: #f5f5f5;
}
a:hover, a:focus {
    color: #4c402a;
    text-decoration: none;
}

.pointer{cursor: pointer;}

@media (max-width: 767px){}
@media (min-width: 768px) and (max-width: 991px){}
@media (min-width: 992px) and (max-width: 1199px){}
@media (min-width: 1200px){}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
button,
a:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    border-color: transparent;
    box-shadow: transparent;
    -webkit-box-shadow: none;
    outline: 0px;
    outline: 0 auto #dddddd;
    outline-offset: 0px;
}

ul{list-style:none;margin:0;padding:0}

h1, h2, h3, h4, h5, h6{color:#313031;margin: 0;padding: 0;font-family: 'Andes';}

.fullwidth{width: 100%;display: block;;clear: both;position: relative;}
.overhide{overflow: hidden;}
.pad0 {padding-right:0px  !important;padding-left:0px  !important;}
.pad5 {padding-right:5px  !important;padding-left:5px  !important;}
.pad10{padding-right:10px !important;padding-left:10px !important;}
.pad30{padding-right:30px !important;padding-left:30px !important;}
.pad15{padding-right:15px !important;padding-left:15px !important;}
.pad45{padding-right:45px !important;padding-left:45px !important;}
.pad60{padding-right:60px !important;padding-left:60px !important;}
.resetpad{padding-left:0 !important;padding-right:0 !important;}
.resetmargin{margin-left:0 !important;margin-right:0 !important;}
.resetmargin-5{margin-left:-5 !important;margin-right:-5 !important;}
.resetpaddesktop{padding-left:0 !important;padding-right:0 !important;}
.resetpadmobile{padding-left:15px !important;padding-right:15px !important;}
.ocultarmobile{display:block;}
.ocultardesktop{display:none;}
@media (max-width: 767px){
  .resetpaddesktop{padding-left:15px !important;padding-right:15px !important;}
  .resetpadmobile {padding-left:0px !important;padding-right:0px !important;}
  .ocultarmobile  {display:none;}
  .ocultardesktop {display:block;}
}

.txtLight{font-weight:100;}
.txtBook{font-weight:300;}
.txtNormal{font-weight:500;}
.txtBold{font-weight:700;}

.txtUpper{text-transform:uppercase;}

.txtFam01{font-family: 'Delight Script';}
.txtFam02{font-family: 'Bergamot';}
.txtFam03{font-family: 'Andes';}

.txtSize20{font-size:20px;}

.txtColor1{color:#de1e32;}
.txtColor2{color:#877452;}
.txtColor3{color:#cca44e;}
.txtColor4{color:#ae8f48;}
.txtColor5{color:#004d44;}
.txtColor6{color:#d9d1c4;}
.txtColor7{color:#a28e66;}

.bgBlanco{background-color:#ffffff;}
.bgNegro{background-color:#231f20;}
.bgColor1{background-color:#de1e32;}/*ROJO*/
.bgColor2{background-color:#877452;}/*GOLD*/
.bgColor3{background-color:#cca44e;}/*AMARILLO*/
.bgColor4{background-color:#ae8f48;}/*ORANGE*/
.bgColor5{background-color:#004d44;}/*Verde*/
.bgColor6{background-color:#d9d1c4;}/*gris*/
.bgColor7{background-color:#a28e66;}/*DoradoClaro*/

.bgTex01{background-image:url(../img/texturas/01.jpg);}

.bgBlanco70{background-color: rgba(255,255,255,0.7);}
.bgNegro70{background-color: rgba(0,0,0,0.7);}
.bgNegro70:hover{background-color: rgba(0,0,0,0);}

.bgFoto{
  background-image:url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}
.bgFixed{background-attachment:fixed;}
@media (max-width: 767px){.bgFixed{background-attachment:scroll;}}
@media (min-width: 768px) and (max-width: 991px){.bgFixed{background-attachment:scroll;}}

.txtBlanco{color:#fff}

.floatl{float:left;}
.floatr{float:right;}
.floatn{float:none;}

.talignl{text-align:left;}
.talignr{text-align:right;}
.talignc{text-align:center;}
.talignj{text-align:justify;}


.altura0{height:0vh !important;}
.altura100{height:100vh !important;}
.altura30 {height:30vh !important;}
.altura50 {height:50vh !important;}
.altura70 {height:70vh !important;}
.altura70-80 {height:70vh !important;}
.altura70min {min-height:70vh !important;}
.altura100-50{height: 100vh !important;}
.altura100-70{height: 100vh !important;}
.altura50-30 {height:50vh !important;}
@media (max-width: 767px){
  .altura30 {height:20vh !important;}
  .altura70 {height:40vh !important;}
  .altura70-80 {height:80vh !important;}
  .altura70min {min-height:40vh !important;}
  .altura100-50{height:50vh !important;}
  .altura100-70{height:70vh !important;}
  .altura50-30 {height:30vh !important;}
}

.altura-100{height:100vh;margin-bottom:-100vh;}

.dtable {display:table;}
.dtableCell {display:table-cell;vertical-align: middle;}

.overHidden{overflow:hidden;}

.mtop0{margin-top:0px}
.mtop10{margin-top:10px}
.mtop20{margin-top:20px}
.mtop30{margin-top:30px}
.mtop40{margin-top:40px}
.mtop50{margin-top:50px}
.mtop60{margin-top:60px}
.mtop70{margin-top:70px}
.mtop80{margin-top:80px}
.mtop90{margin-top:90px}
.mtop100{margin-top:100px}
.mtop120{margin-top:120px}
.mtop140{margin-top:140px}
.mtop160{margin-top:160px}
.mtop200{margin-top:200px}
.mtop300{margin-top:300px}
.mtop400{margin-top:400px}

.mbottom0{margin-bottom:0px}
.mbottom10{margin-bottom:10px}
.mbottom20{margin-bottom:20px}
.mbottom30{margin-bottom:30px}
.mbottom40{margin-bottom:40px}
.mbottom50{margin-bottom:50px}
.mbottom60{margin-bottom:60px}
.mbottom70{margin-bottom:70px}
.mbottom80{margin-bottom:80px}
.mbottom90{margin-bottom:90px}
.mbottom100{margin-bottom:100px}
.mbottom120{margin-bottom:120px}
.mbottom140{margin-bottom:140px}
.mbottom160{margin-bottom:160px}

.ptop10{padding-top:10px}
.ptop20{padding-top:20px}
.ptop30{padding-top:30px}
.ptop40{padding-top:40px}
.ptop50{padding-top:50px}
.ptop60{padding-top:60px}
.ptop70{padding-top:70px}
.ptop80{padding-top:80px}
.ptop90{padding-top:90px}
.ptop100{padding-top:100px}
.ptop110{padding-top:110px}
.ptop120{padding-top:120px}
.ptop140{padding-top:140px}
.ptop160{padding-top:160px}

.pbottom10{padding-bottom:10px}
.pbottom20{padding-bottom:20px}
.pbottom30{padding-bottom:30px}
.pbottom40{padding-bottom:40px}
.pbottom50{padding-bottom:50px}
.pbottom60{padding-bottom:60px}
.pbottom70{padding-bottom:70px}
.pbottom80{padding-bottom:80px}
.pbottom90{padding-bottom:90px}
.pbottom100{padding-bottom:100px}
.pbottom120{padding-bottom:120px}
.pbottom140{padding-bottom:140px}
.pbottom160{padding-bottom:160px}

.mtop-100{margin-top:-100px}
.mtop-110{margin-top:-110px}
.mtop-150{margin-top:-150px}
.mtop-200{margin-top:-200px}

.mbottom-100{margin-bottom:-100px}
.mbottom-110{margin-bottom:-110px}
.mbottom-150{margin-bottom:-150px}
.mbottom-200{margin-bottom:-200px}

.bordeExt{
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px 0 0 1px;
}
.bordeInt{
    border-style: solid;
    border-color: #dddddd;
    border-width: 0 1px 1px 0;
}
.sombraInterior{
    -webkit-box-shadow: inset 2px 2px 15px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 2px 2px 15px 0px rgba(0,0,0,0.2);
    box-shadow: inset 2px 2px 15px 0px rgba(0,0,0,0.2);
}
.sombraExterior{
    -webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.2);
}

.txt-shadow{text-shadow: 1px 1px 5px #000;}

.jumbotron {
    padding:0;
    margin: 0;
}
@media screen and (min-width: 768px){
	.jumbotron {}
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    border: 0px;
    min-height: 110px;
    max-height: 110px;
    margin-bottom:-110px;
}
.navbar-inverse {
    margin-top: 35px;
    background-color: #de1e32;
    /*background-color: #877452;*/
    border-color: transparent;
    border: 0px;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.3);
       -moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.3);
}
.navbar-inverse .navbar-nav > li > a {
  font-family: 'Andes';
  color: #fff;
  font-size: 20px;
}
@media (min-width: 768px){
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}
.navbar-brand {
    height: 35px;
    padding: 0;
}
.navbar-inverse .navbar-brand > img {
    width: 80%;
    margin-top: -42px;
} 

.navbar-inverse.on {
    margin-top:0px;
    background-color: rgba(0,0,0,.5);
}
.navbar-inverse.on .navbar-brand > img {
    width: 80%;
    margin-top: -30px;
    /*width: 60%;
    margin-top: -10px;*/
}
@media (max-width: 767px){
  .navbar-inverse .navbar-brand > img {
      width: 65%;
      margin-top: -40px;
  }
  .navbar-inverse.on .navbar-brand > img {
    width: 55%;
    margin-top: -30px;
  }
  .navbar-inverse {
    margin-top: 10px;
  }
}
.navbar-toggle {
    padding: 5px 5px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid #fff;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #ce0000;
    border: 0px;
}
@media (max-width: 767px){
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    margin-top: 20px;
  }
}
.navbar-inverse .navbar-brand img.logo1 {display: block;}
.navbar-inverse .navbar-brand img.logo2 {display: none;}
.navbar-inverse.on .navbar-brand img.logo1 {display: block;}
.navbar-inverse.on .navbar-brand img.logo2 {display: none;}

.btnSlider {
    position: absolute;
    z-index: 100;
    font-size: 8em;
    width: 10%;
    height: 100vh;
    text-align: center;
    display: table;
}
.btnSlider i {
    display: table-cell;
    vertical-align: middle;
}
.btnPrev {
    left: 0;
}
.btnNext {
    right: 0;
}

#personajesSlider .item {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center 190%;
}
#personajesSlider .item:hover, #personajesSlider .item:active {background-position: center 120%;}
@media (max-width: 767px){
  #personajesSlider .item {background-position: center 190%;}
  #personajesSlider .item:hover, #personajesSlider .item:active {background-position: center 100%;}
}

#personajesSlider .item p {
    font-family: 'Delight Script';
    text-align: center;
    color: #ffffff;
    padding-top: 1em;
    font-size: 3em;
    opacity: 0;
}
#personajesSlider .item:hover p {
    opacity: 1;
}

#productosSlider h2{font-size:40px}
#productosSlider h3{font-size:22px}

@media (max-width: 767px){
  #productosSlider h2{font-size:25px}
  #productosSlider h3{font-size:16px}
}

.anim {
  -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
       transition: all 0.5s ease;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    width: 100%;
    background-image: url(../img/bg.gif);
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
}
.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
    width: 102vw !important;
    height: 104vh !important;
    margin-left: -10px !important;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height:0px;
}
.col-x5{
  width: 20%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.df-container {
    background-color:transparent !important;
}
.df-ui-wrapper, .df-ui-btn {
    background-color: #877452 !important;
}

.form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 15px 2px 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #ccc;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}

button.btn-producto {
    margin: 0px auto;
    padding: 10px;
    float: left;
    background: #de1f33;
    color: #fff;
    font-size: 2em;
}
button.btn-producto:hover {
    background: #ca1c2e;
    color: #f3f3f3;
}
button.btn-juego {
    margin: 0px auto;
    padding: 10px;
    float: left;
    background: #cba34f;
    color: #fff;
    font-size: 2em;
}
button.btn-juego:hover {
    background: #ad8a42;
    color: #f3f3f3;
}
button.btn-video {
    margin: 0px auto;
    padding: 10px;
    float: left;
    background: #ae8f48;
    color: #fff;
    font-size: 2em;
}
button.btn-video:hover {
    background: #92773a;
    color: #f3f3f3;
}

#juegosSlider .item h2, #videosSlider .item h2 {
    background: #cba34f;
    display: inline-block;
    padding: 20px 10px;
    border-radius: 15px;
}
@media (max-width: 767px){
  #juegosSlider .item h2, #videosSlider .item h2 {
    font-size: 16px;
  }
}

.owl-stage{
    margin: 0 auto;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0;
    position: absolute;
    bottom: 0;
}
.close {
    position: absolute;
    right: 15px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .8;
    z-index: 15;
    background: #fff !important;
    padding: 5px !important;
    border-radius: 4px;
}

#containerMultimedia .instagram{background-image:url(../img/bg02b.jpg);}
@media (max-width: 767px){#containerMultimedia .instagram{background-image:url(../img/instragrammobile.jpg);}}

#content, #content canvas {
  max-width: 100% ;
  position: relative !important;
  margin: 0 auto
}

















