@media screen and (min-width: 420px) and (max-width: 767px) and (orientation: landscape) {
  /*html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }*/
  body *{
    display: none !important;
  }
  body::before{
    content: url('../img/portrait-orientation.png');
    position:absolute;
    width:100%;
    height:100Vh;
    text-align:center;
    background-color:#de1e32;
    color:white;
    padding-top:15vh;
  }
}


body{
  font-size: 12px;
  color: #ffffff;
}

.bg-gold{
  background-image: url('../img/deco07.jpg');
  background-repeat: repeat;
  background-size: 100%;
  background-position: center;
}
.bg-gold-parallax{
  background-image: url('../img/deco07.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}
.bg-fixed-size{
  background-size: 65%;
}

canvas#canvasNieve {
  display: block;
  position:absolute;
  top: 0;
}
.nieve{
  position:fixed;
  top:0;
  min-height:100%;
  z-index: 100;
  pointer-events: none;
}

@font-face {
  font-family: 'Bergamot';
  src: url('../fonts/hinted-Bergamot.eot');
  src: local('Bergamot'),
    url('../fonts/hinted-Bergamot.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-Bergamot.woff2') format('woff2'),
    url('../fonts/hinted-Bergamot.woff') format('woff'),
    url('../fonts/hinted-Bergamot.ttf') format('truetype'),
    url('../fonts/hinted-Bergamot.svg#Bergamot') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Delight Script';
  src: url('../fonts/hinted-DelightScript.eot');
  src: local('Delight Script'), local('DelightScript'),
    url('../fonts/hinted-DelightScript.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-DelightScript.woff2') format('woff2'),
    url('../fonts/hinted-DelightScript.woff') format('woff'),
    url('../fonts/hinted-DelightScript.ttf') format('truetype'),
    url('../fonts/hinted-DelightScript.svg#DelightScript') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Andes';
  src: url('../fonts/hinted-Andes.eot');
  src: local('Andes'),
    url('../fonts/hinted-Andes.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-Andes.woff2') format('woff2'),
    url('../fonts/hinted-Andes.woff') format('woff'),
    url('../fonts/hinted-Andes.ttf') format('truetype'),
    url('../fonts/hinted-Andes.svg#Andes') format('svg');
  font-weight: normal;
  font-style: normal;
}

a {
    color: #f5f5f5;
}
a:hover, a:focus {
    color: #4c402a;
    text-decoration: none;
}

.pointer{cursor: pointer;}

@media (max-width: 767px){}
@media (min-width: 768px) and (max-width: 991px){}
@media (min-width: 992px) and (max-width: 1199px){}
@media (min-width: 1200px){}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
button,
a:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    border-color: transparent;
    box-shadow: transparent;
    -webkit-box-shadow: none;
    outline: 0px;
    outline: 0 auto #dddddd;
    outline-offset: 0px;
}

ul{list-style:none;margin:0;padding:0}

h1, h2, h3, h4, h5, h6{color:#313031;margin: 0;padding: 0;font-family: 'Andes';}

.fullwidth{width: 100%;display: block;;clear: both;position: relative;}
.overhide{overflow: hidden;}
.pad0 {padding-right:0px  !important;padding-left:0px  !important;}
.pad5 {padding-right:5px  !important;padding-left:5px  !important;}
.pad10{padding-right:10px !important;padding-left:10px !important;}
.pad30{padding-right:30px !important;padding-left:30px !important;}
.pad15{padding-right:15px !important;padding-left:15px !important;}
.pad45{padding-right:45px !important;padding-left:45px !important;}
.pad60{padding-right:60px !important;padding-left:60px !important;}
.resetpad{padding-left:0 !important;padding-right:0 !important;}
.resetmargin{margin-left:0 !important;margin-right:0 !important;}
.resetmargin-5{margin-left:-5 !important;margin-right:-5 !important;}
.resetpaddesktop{padding-left:0 !important;padding-right:0 !important;}
.resetpadmobile{padding-left:15px !important;padding-right:15px !important;}
.ocultarmobile,{display:block;}
.ocultardesktop{display:none;}
@media (max-width: 767px){
  .resetpaddesktop{padding-left:15px !important;padding-right:15px !important;}
  .resetpadmobile {padding-left:0px !important;padding-right:0px !important;}
  .ocultarmobile  {display:none !important;}
  .ocultardesktop {display:block;}
}

.txtLight{font-weight:100;}
.txtBook{font-weight:300;}
.txtNormal{font-weight:500;}
.txtBold{font-weight:700;}

.txtUpper{text-transform:uppercase;}

.txtFam01{font-family: 'Delight Script';}
.txtFam02{font-family: 'Bergamot';}
.txtFam03{font-family: 'Andes';}

.txtSize20{font-size:20px;}

.txtColor1{color:#de1e32;}
.txtColor2{color:#877452;}
.txtColor3{color:#cca44e;}
.txtColor4{color:#ae8f48;}
.txtColor5{color:#004d44;}
.txtColor6{color:#d9d1c4;}
.txtColor7{color:#a28e66;}

.bgBlanco{background-color:#ffffff;}
.bgNegro{background-color:#231f20;}
.bgColor1{background-color:#de1e32;}/*ROJO*/
.bgColor2{background-color: #56b088;}/*GOLD*/
.bgColor3{background-color: #7556c2;}/*AMARILLO*/
.bgColor4{background-color: #afe6da;}/*ORANGE*/
.bgColor5{background-color: #00B189;}/*Verde*/
.bgColor6{background-color:#428662;}/*gris*/
.bgColor7{background-color:#6abcb7;}/*DoradoClaro*/

.bgColorAzulina{background-color:#001689;}
.bgColorColorito{background-color:#D9272E;}
.bgColorMenta{background-color:#1CCFC9;}
.bgColorFucsia{background-color:#D7006D;}
.bgColorMandarina{background-color:#FF6C0C;}
.bgColorLimon{background-color:#CFDB00;}
.bgColorChocolata{background-color:#F286CE;}
.bgColorGoldy{background-color:#86754D;}

.bgColorCeleste{background-color: #8ccbdd;}
.bgColorAmatista{background-color: #9764a8;}
.bgColorNieve{background-color: #d9d2ca;}
.bgColorZafiro{background-color:#0d29b6;}
.bgColorPistacho{background-color:#8acb39;}
.bgColorChocolata{background-color:#ef85ce;}
.bgColorBC{background-color:#d8cbad;}

.bgs-100{
  background-size: 100% !important;
}

.popover {
    top: -7px;
    left: 118px;
    max-width: 276px;
    padding: 1px;
    font-family: 'Andes';
    color: red;
    font-size: 14px;
}

.overHide{
  overflow: hidden;
}

/* Cronometro */
.cronos{
  position: fixed;
  right: 20px;
  top: 50%;
  width: 200px;
  z-index: 999;
}
.cronos img.ball{
  width: 100%;
  display: block;
}
.cronos h2.time-down{
  width: 100%;

  position: absolute;
  bottom: 63px;
  line-height: 90%;
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
  text-align: center;
}
.eliminate{
  position: absolute;
    right: 15px;
    top: 45px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    /* text-shadow: 0 1px 0 #fff; */
    filter: alpha(opacity=20);
    /* opacity: 1; */
    z-index: 15;
    background: #20875f !important;
    /* padding: 5px !important; */
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
/* /Cronometro */

.bgTex01{background-image:url(../img/texturas/01.jpg);}

.bgBlanco70{background-color: rgba(255,255,255,0.7);}
.bgNegro20{background-color: rgba(0,0,0,0.2);}
.bgNegro30{background-color: rgba(0,0,0,0.3);}
.bgNegro50{background-color: rgba(0,0,0,0.5);}

.bgNegro70{background-color: rgba(0,0,0,0.7);}
.bgNegro70:hover{background-color: rgba(0,0,0,0);}

.bgFoto{
  background-image:url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}
.bgFixed{background-attachment:fixed;}
@media (max-width: 767px){.bgFixed{background-attachment:scroll;}}
@media (min-width: 768px) and (max-width: 991px){.bgFixed{background-attachment:scroll;}}

.txtBlanco{color:#fff}

.floatl{float:left;}
.floatr{float:right;}
.floatn{float:none;}

.talignl{text-align:left;}
.talignr{text-align:right;}
.talignc{text-align:center;}
.talignj{text-align:justify;}


.altura0{height:0vh !important;}
.altura100{height:100vh !important;}
.altura30 {height:30vh !important;}
.altura50 {height:50vh !important;}
.altura70 {height:70vh !important;}
.altura70-80 {height:70vh !important;}
.altura70min {min-height:70vh !important;}
.altura100-50{height: 100vh !important;}
.altura100-70{height: 100vh !important;}
.altura50-30 {height:50vh !important;}
@media (max-width: 767px){
  .altura30 {height:20vh !important;}
  .altura70 {height:40vh !important;}
  .altura70-80 {height:80vh !important;}
  .altura70min {min-height:40vh !important;}
  .altura100-50{height:50vh !important;}
  .altura100-70{height:70vh !important;}
  .altura50-30 {height:30vh !important;}
}

.altura-100{height:100vh;margin-bottom:-100vh;}

.dtable {display:table;}
.dtableCell {display:table-cell;vertical-align: middle;}

.overHidden{overflow:hidden;}

.mtop0{margin-top:0px}
.mtop10{margin-top:10px}
.mtop20{margin-top:20px}
.mtop30{margin-top:30px}
.mtop40{margin-top:40px}
.mtop50{margin-top:50px}
.mtop60{margin-top:60px}
.mtop70{margin-top:70px}
.mtop80{margin-top:80px}
.mtop90{margin-top:90px}
.mtop100{margin-top:100px}
.mtop120{margin-top:120px}
.mtop140{margin-top:140px}
.mtop160{margin-top:160px}
.mtop200{margin-top:200px}
.mtop300{margin-top:300px}
.mtop400{margin-top:400px}

.mbottom0{margin-bottom:0px}
.mbottom10{margin-bottom:10px}
.mbottom20{margin-bottom:20px}
.mbottom30{margin-bottom:30px}
.mbottom40{margin-bottom:40px}
.mbottom50{margin-bottom:50px}
.mbottom60{margin-bottom:60px}
.mbottom70{margin-bottom:70px}
.mbottom80{margin-bottom:80px}
.mbottom90{margin-bottom:90px}
.mbottom100{margin-bottom:100px}
.mbottom120{margin-bottom:120px}
.mbottom140{margin-bottom:140px}
.mbottom160{margin-bottom:160px}

.ptop10{padding-top:10px}
.ptop20{padding-top:20px}
.ptop30{padding-top:30px}
.ptop40{padding-top:40px}
.ptop50{padding-top:50px}
.ptop60{padding-top:60px}
.ptop70{padding-top:70px}
.ptop80{padding-top:80px}
.ptop90{padding-top:90px}
.ptop100{padding-top:100px}
.ptop110{padding-top:110px}
.ptop120{padding-top:120px}
.ptop140{padding-top:140px}
.ptop160{padding-top:160px}

.pbottom10{padding-bottom:10px}
.pbottom20{padding-bottom:20px}
.pbottom30{padding-bottom:30px}
.pbottom40{padding-bottom:40px}
.pbottom50{padding-bottom:50px}
.pbottom60{padding-bottom:60px}
.pbottom70{padding-bottom:70px}
.pbottom80{padding-bottom:80px}
.pbottom90{padding-bottom:90px}
.pbottom100{padding-bottom:100px}
.pbottom120{padding-bottom:120px}
.pbottom140{padding-bottom:140px}
.pbottom160{padding-bottom:160px}

.mtop-100{margin-top:-100px}
.mtop-110{margin-top:-110px}
.mtop-150{margin-top:-150px}
.mtop-200{margin-top:-200px}

.mbottom-100{margin-bottom:-100px}
.mbottom-110{margin-bottom:-110px}
.mbottom-150{margin-bottom:-150px}
.mbottom-200{margin-bottom:-200px}

.bordeExt{
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px 0 0 1px;
}
.bordeInt{
    border-style: solid;
    border-color: #dddddd;
    border-width: 0 1px 1px 0;
}
.sombraInterior{
    -webkit-box-shadow: inset 2px 2px 15px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 2px 2px 15px 0px rgba(0,0,0,0.2);
    box-shadow: inset 2px 2px 15px 0px rgba(0,0,0,0.2);
}
.sombraExterior{
    -webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.2);
}

.txt-shadow{text-shadow: 1px 1px 5px #000;}

.jumbotron {
    padding:0;
    margin: 0;
}
@media screen and (min-width: 768px){
  .jumbotron {}
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    border: 0px;
    min-height: 110px;
    max-height: 110px;
    margin-bottom:-110px;
}
.navbar-inverse {
    margin-top: 35px;
    background-color: #de1e31;
    border-color: transparent;
    border: 0px;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.3);
       -moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.3);
}
.navbar-inverse .navbar-nav > li > a {
  font-family: 'Andes';
  color: #fff;
  font-size: 18px; /* 20px */
}
@media (min-width: 768px){
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}
.navbar-brand {
    height: 10px;
    padding: 0;
    position: relative;
}
.navbar-inverse .navbar-brand > img {
    width: auto;
    margin-top: -40px;
    transition: .2s;
} 

.navbar-inverse h2#regresiva {
    position: absolute;
    top: 122px;
    left: 22px;
    line-height: 90%;
    font-size: 15px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
}
.navbar-inverse.on h2#regresiva {
    top: 140px;
}
.navbar-inverse.on {
    margin-top:0px;
    background-color: rgba(0,0,0,.5);
}
.navbar-inverse.on .navbar-brand > img {
    width: 80%;
    margin-top: -30px;
    /*width: 60%;
    margin-top: -10px;*/
}
@media (max-width: 767px){
  .navbar-brand {
      width: 355px
  }
  h2#regresiva {
      top: 130px;
    left: 22px;
    zoom:90%;
  }
  .navbar-inverse .navbar-brand > img {
      width: 25%;/* 65 */
      margin-top: -53px;
  }
  .navbar-inverse.on .navbar-brand > img {
    width: 25%; /* 55% */
    margin-top: -53px;
  }
  .navbar-inverse {
    margin-top: 5px;
    /*height: 10px;*/
  }
}

.navbar-toggle {
    padding: 5px 5px;
    margin-top: 12px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid #fff;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #ce0000;
    border: 0px;
}
@media (max-width: 767px){
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    margin-top: 20px;
  }
}
.navbar-inverse .navbar-brand img.logo1 {display: block;}
.navbar-inverse .navbar-brand img.logo2 {display: none;}
.navbar-inverse.on .navbar-brand img.logo1 {display: block;}
.navbar-inverse.on .navbar-brand img.logo2 {display: none;}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1220px;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 1480px;
  }
}

@media (min-width: 1900px) {
  .container {
    width: 1880px;
  }
}

.btnSlider {
    position: absolute;
    z-index: 100;
    font-size: 8em;
    width: 10%;
    height: 100vh;
    text-align: center;
    display: table;
}
.btnSlider i {
    display: table-cell;
    vertical-align: middle;
}
.btnPrev {
    left: 0;
}
.btnNext {
    right: 0;
}

#personajesSlider .item {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center 100%;
}
#personajesSlider .item:hover, #personajesSlider .item:active {background-position: center 90%;}
@media (max-width: 767px){
  #personajesSlider .item {background-position: center 190%;}
  #personajesSlider .item:hover, #personajesSlider .item:active {background-position: center 100%;}
}

#personajesSlider .item p {
    font-family: 'Delight Script';
    text-align: center;
    color: #ffffff;
    padding-top: 1em;
    font-size: 3em;
    opacity: 0;
}
#personajesSlider .item:hover p {
    opacity: 1;
}

#productosSlider h2{font-size:40px;margin-bottom: 15px;}
#productosSlider h3{font-size:22px}

@media (max-width: 767px){
  #productosSlider h2{font-size:25px}
  #productosSlider h3{font-size:16px}
}

.anim {
  -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
       transition: all 0.5s ease;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height:0px;
}
.col-x5{
  width: 20%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.df-container {
    background-color:transparent !important;
}
/*.df-ui-wrapper, .df-ui-btn {
    background-color: #877452 !important;
}*/

.form-control {
    display: block;
    width: 100%;
    /*height: 45px;*/
    /*padding: 15px 2px 0;*/
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border: 2px solid #fff;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}

button.btn-producto {
    margin: 0px auto;
    padding: 10px;
    float: left;
    background: #de1f33;
    color: #fff;
    font-size: 2em;
}
button.btn-producto:hover {
    background: #ca1c2e;
    color: #f3f3f3;
}
button.btn-juego {
    margin: 0px auto;
    padding: 10px;
    float: left;
    background: #cba34f;
    color: #fff;
    font-size: 2em;
}
button.btn-juego:hover {
    background: #ad8a42;
    color: #f3f3f3;
}
button.btn-video {
    margin: 0px auto;
    padding: 10px;
    float: left;
    background: #ae8f48;
    color: #fff;
    font-size: 2em;
}
button.btn-video:hover {
    background: #92773a;
    color: #f3f3f3;
}

#juegosSlider .item h2, #videosSlider .item h2 {
    background: #cba34f;
    display: inline-block;
    padding: 20px 10px;
    border-radius: 15px;
}
@media (max-width: 767px){
  #juegosSlider .item h2, #videosSlider .item h2 {
    font-size: 16px;
  }
}

.owl-stage{
    margin: 0 auto;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0;
    position: absolute;
    bottom: 0;
}
.close {
    position: absolute;
    right: 15px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .8;
    z-index: 15;
    background: #fff !important;
    padding: 5px !important;
    border-radius: 4px;
}

#containerMultimedia .instagram{background-image:url(../img/bg02b.jpg);}
@media (max-width: 767px){#containerMultimedia .instagram{background-image:url(../img/instragrammobile.jpg);}}

#content, #content canvas {
  max-width: 100% ;
  position: relative !important;
  margin: 0 auto
}

.checkInput {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 6px;
    cursor: pointer;
    font-size: 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkInput input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 2px solid #fff;
}
.checkInput:hover input ~ .checkmark {background-color: #444; color: #fff;}

.checkInput input:checked ~ .checkmark {background-color: #444; color: #fff}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkInput input:checked ~ .checkmark:after {display: block;}
.checkInput .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#personajeTitle img {
    width: 100%;
    max-width: 350px;
}

@media (max-width: 1150px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
      max-height: 100%;
  }
}
*,*:after, *::before{
  margin:0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.loaderContainer {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    background: #ee322f;
}


.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #fff;
  border-right: 1.1em solid #fff;
  border-bottom: 1.1em solid #fff;
  border-left: 1.1em solid #d7212c;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Crist */
.mt-30{
  margin-top: 30px;
}
.befor-slide{
  width: 100%;
  display: inline-block;
  padding: 5% 0;
}
.video-link{
  margin-top: 20px;
}
.video-link a{
  font-size: 20px;
  position: relative;
  color: #fff;
}
.video-link a:hover{
  color: #fff;
}
.video-link a i.fa{
  font-size: 32px;
  position: absolute;
  left: -50px;
  top: -5px;
}
.video-link a:before{
  content: '';
  width: 80px;
  padding: 10px;
  background-image: url('../img/shape-bottom.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  position: absolute;
  bottom: -14px;
  right: 0;
}
.gold-font > h2,
.gold-font > h3,
.gold-font > p{
  color: #d0b077 !important;
}
.gold-font p{
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 25px;
  margin-top: 20px;
}
.p-05{
  padding: 0 5%;
}
.gatcha-1{
  padding: 20px;
  background-color: #3d2415;
}
.gatcha{
  padding: 20px;
  background-color: #c9b173;
}
.btn-xmas{
  width: auto;
  background-color: transparent;
  border: 2px solid #fff;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px 40px;
}
.dp-flex-custom{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wd-content{
  width: 100%;
  height: auto;
}
.negative{
  margin-top: -90px;
}
.blackTxt{
  color: #646463 !important;
}
p.ifFix{
  font-family: 'Delight Script';
}
p.toFix{
  margin-top: -100px !important;
}


/* Cristian */
.p-absolute{
  position: relative;
  width: 100%;
  display: inline-block;
}
.p-absolute img{
  position: absolute;
  top: 0;
  z-index: 999;
}
.p-justify{
  padding-top: 30px;
}
.remove-this{
  display: none !important;
}
.shape-h3{
  position: relative;
}
.shape-h3:before{
  content: '';
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-image: url('..img/shapes-contact/shape-h3.png')
}
.form-input-color input{
  color: #fff !important;
}

.fixed-flex-center{
  display: inline-flex;
  justify-items: center;
  align-items: center;
}
.col-automatic{
  width: auto;
  display: block;
}
.col-img-fluid img{
  width: auto;
  display: block;
}
.year a{
  font-family: Bergamot;
  font-size: 4em;
  padding: 0 0.5em;
  color: #73562b;
}
.mode-on a,
.year a:hover{
  color: #D9272E !important;
}

.img-fx img{
  width: 120px;
  display: block;
}

.fixed-1{
  position: absolute;
  bottom: -40px;
  right: -300px;
  max-width: 200px;
}
.fixed-2{
  max-width: 220px;
  position: absolute;
  /*bottom: 20px;*/
  right: 0px;
}
.fixed-3{
  max-width: 170px;
  position: absolute;
  bottom: 20px;
  left: 0px;
}

.fixed-4{
  max-width: 150px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #de1e31 !important;
    display: inline-block;
    cursor: pointer;
    /*border-radius: 50px !important;
    width: 28px !important;
    height: 28px !important;*/
}

.owl-nav .owl-next{
  width: auto;
  position: absolute;
  right: 0;
  bottom: 40px;
}
.owl-nav .owl-prev{
  width: auto;
  position: absolute;
  left: 0;
  bottom: 40px;
}
.owl-dots{
  position: absolute;
  width: 100%;
  bottom: 0;
}
.owl-theme .owl-dots .owl-dot span{
  background-color: #de1e31;
}
.owl-theme .owl-dots .owl-dot.active span{
  background-color: #20875f;
}
/* Tabs */
.flex-fix-align{
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}
.h-100{
  height: 100% !important;
  display: block;
}
.owl-stage-outer,
.owl-stage,
.owl-item{
  height: 100%;
}
.fixing-tabs{
  background-color: #d9d2ca;
  padding: 30px;
}
.fixing-tabs:hover{
  background-color: #c1b776;
}
.box-play{
  width: 100%;
  display: block;
}
.box-play a.fixing{
  padding: 0;
  height: 50%;
  display: block;
}

.fix-tab-img{
  position: relative;
}
.fix-tab-img h3{
  padding-bottom: 0px;
  position: absolute;
  top: 30px;
  left: 70px;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  height: auto;
  padding: 0;
  display: inline-table;
  z-index: 99;
}

.sub-select a{
  text-align: center;
  width: 100%;
  display: inline-block;

  font-family: Bergamot;
  font-size: 3em;
  color: rgb(115, 86, 43);
  padding: 0px 0.5em;
  margin-bottom: 10px;
}

/* Productos */
.bgGold-1{
  background-color: #d9d2ca;
}
.bgGold-2{
  background-color: #c1b776;
}
.bgGold-3{
  background-color: #d8cbad;
}

.d-flex-aling{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-banner{
  position: relative;
}
.fix-img{
  max-width: 50%;
  position: absolute;
  top: 22%;
  left: 15%;
}
@media (max-width: 767px){
    .fixed-flex-center{
      display: inline-block;
      width: 100%;
    }
    .year a {
      font-family: Bergamot;
      font-size: 34px;
      padding: 0 0.5em;
      color: #73562b;
    }
    .col-automatic {
      width: 33.333%;
      display: inline-block;
    }
    .cd-slider-navigation{
      margin-bottom: 78px;
    }
    .p-absolute img{
      position: relative;
    }
    .big-banner{
      margin-top: 90px;
    }
    .bg-gold-parallax{
      background-size: cover;
    }
  }


@media (max-width: 479px){
  .fixed-1,
  .fixed-2,
  .cronos{
    display: none;
  }
  .col-overly {
    background-size: 195%;
  }
  .content-overlay-no-bg{
    width: 100%;
  }
  p.toFix {
   margin-top: -80px !important;
 }
}

.float-box{
  position: absolute;
  width: 70%;
  top: 0;
  bottom: 0;
  z-index: 99;
  left: 0;
  right: 0;
  margin: auto;
  padding: 13% 9%;
  text-align: center;
  background-image: url('../img/bg-somos.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

/* Noticias */
.dvdr{
  width: 100%;
  padding: 20px 15px;
}
.dvdr span{
  display: block;
  border-bottom: 2px solid #d0b077;
}
article p{
  color: #444;
}
.quick-col{
  color: #444;
  column-count: 2;
}
.date{
  font-style: italic;
  color: #444;
  margin: 10px 0px;
  display: block;
}
span.live{
  position: absolute;
  top: 0;
  left: 15px;
  width: auto;
  display: inline-block;
  background-color: #ee919b;
  padding: 10px 15px;

  font-size: 18px;
  text-transform: uppercase;
}
.wrap-notice{
  width: 100%;
  display: block;
  position: relative;
}
.shape-fix{
  position: absolute;
  top: 40%;
  left: -20px;
  width: 80px;
}
.figcap{
  background-color: #73562b;
  color: #fff;
  padding: 30px;
  text-align: center;
}

@media (max-width: 480px){
  .altura70{
    height: auto !important;
  }
  .sub-select,
  .flex-fix-align{
    padding: 30px 10px;
  }
  .float-box{
    position: relative;
    margin: 25% auto 0;
    height: auto;
    width: 100%;
  }
  .fixMob{
    background-color: #b59139;
    padding: 0 0 30px 0;
  }
  .mobHeight{
    height: 270px !important;
  }
  .mTopMob{
    margin-top: 80px;
  }
  .img-featured-container{
    min-height: 300px !important;
  }
}

/* CSS Play list */
/*li.drop-list{
  position: relative;
}
div.container-play{
  min-width: 350px;
  position: absolute;
  background-color: #0d4c41;
  right: 0;
  top: 70%;
  margin-top: 17px;
  padding: 10px 20px;
  text-align: left;
  display: none;
  z-index: 99;
  transition: .2s all;
}

li.drop-list:hover div.container-play{
  display: block;
  transition: .2s all;
} */

/*  */

@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css";

.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.disabled {
  color: #666;
  cursor: default;
}

.show {
  display: inline-block !important;
}

.container-play{
  position: absolute;
  top: -100%;
  right: 0;
  min-width: 35%;
  padding: 15px;
  z-index: 9999;
  background-color: #0d4c41;
  display: none;
  transition: .3s all;
}
.showme{
  display: block !important;
  transition: .3s all;
  top: 100%;
}
.container-play .player {
  height: 60px;
  margin: 0;
  position: relative;
  width: 100%;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
  *zoom: 1;
}

/*@media (min-width: 768px) and (max-width: 991px) {
  .container-play .player {
    width: 470px;
  }
}
@media (min-width: 992px) and (max-width: 1100px) {
  .container-play .player {
    width: 470px;
  }
}
@media (min-width: 1200px) {
  .container-play .player {
    width: 470px;
  }
}*/

.container-play .player .large-toggle-btn {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  float: left;
  font-size: 1.5em;
  height: 50px;
  margin: 0 10px 0 0;
  overflow: hidden;
  padding: 5px 0 0 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  width: 54px;
}
.container-play .player .large-toggle-btn .large-play-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -14%;
}
.container-play .player .large-toggle-btn .large-play-btn:before {
  content: "\f04b";
  font: 1.5em/1.75 "FontAwesome";
}
.container-play .player .large-toggle-btn .large-pause-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -13%;
}
.container-play .player .large-toggle-btn .large-pause-btn:before {
  content: "\f04c";
  font: 1.5em/1.75 "FontAwesome";
}
.container-play .player .info-box {
  /*bottom: 10px;
  left: 65px;
  position: absolute;
  top: 15px;*/
  display: block;
  width: 100%;
  padding: 10px 0 0;
  float: left;
}
.container-play .player .info-box .track-info-box {
  font-size: 12px;
  margin: 0 0 6px 0;
  visibility: hidden;
  width: 100%;
  *zoom: 1;
}
.container-play .player .info-box .track-info-box .track-title-text {
  display: inline-block;
}
.container-play .player .info-box .track-info-box .audio-time {
  display: inline-block;
  padding: 0 0 0 5px;
  width: 80px;
}
.container-play .player .info-box .track-info-box:before, .container-play .player .info-box .track-info-box:after {
  content: " ";
  display: table;
}
.container-play .player .info-box .track-info-box:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.container-play .player .progress-box {
  float: left;
  min-width: 270px;
  position: relative;
}
.container-play .player .progress-box .progress-cell {
  height: 12px;
  position: relative;
}
.container-play .player .progress-box .progress-cell .progress {
  background: #fff;
  border: 1px solid #d9d9d9;
  height: 8px;
  position: relative;
  width: auto;
}
.container-play .player .progress-box .progress-cell .progress .progress-buffer {
  background: #337ab7;
  height: 100%;
  width: 0;
}
.container-play .player .progress-box .progress-cell .progress .progress-indicator {
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  cursor: pointer;
  height: 10px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: -2px;
  width: 22px;
}
.container-play .player .controls-box {
  width: 100%;
  display: inline-block;
}
.container-play .player .controls-box .previous-track-btn {
  cursor: pointer;
  display: inline-block;
}
.container-play .player .controls-box .previous-track-btn:before {
  content: "\f049";
  font: 1em "FontAwesome";
}
.container-play .player .controls-box .next-track-btn {
  cursor: pointer;
  display: inline-block;
}
.container-play .player .controls-box .next-track-btn:before {
  content: "\f050";
  font: 1em "FontAwesome";
}
.container-play .player:before, .container-play .player:after {
  content: " ";
  display: table;
}
.container-play .player:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.container-play .play-list {
  display: inline-block;
  margin: 30px auto 20px auto;
  width: 100%;
}
.container-play .play-list .play-list-row {
  display: block;
  margin: 10px 0;
  width: 100%;
  *zoom: 1;
}
.container-play .play-list .play-list-row .track-title .playlist-track {
  color: #fff;
  text-decoration: none;
}
.container-play .play-list .play-list-row .track-title .playlist-track:hover {
  text-decoration: underline;
}
.container-play .play-list .play-list-row .small-toggle-btn {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}
.container-play .play-list .play-list-row .small-toggle-btn .small-play-btn {
  display: inline-block;
}
.container-play .play-list .play-list-row .small-toggle-btn .small-play-btn:before {
  content: "\f04b";
  font: 0.85em "FontAwesome";
}
.container-play .play-list .play-list-row .small-toggle-btn .small-pause-btn {
  display: inline-block;
}
.container-play .play-list .play-list-row .small-toggle-btn .small-pause-btn:before {
  content: "\f04c";
  font: 0.85em "FontAwesome";
}
.container-play .play-list .play-list-row .track-number {
  display: inline-block;
}
.container-play .play-list .play-list-row .track-title {
  display: inline-block;
}
.container-play .play-list .play-list-row .track-title .playlist-track {
  text-decoration: none;
}
.container-play .play-list .play-list-row .track-title .playlist-track:hover {
  text-decoration: underline;
}
.container-play .play-list .play-list-row .track-title.active-track {
  font-weight: bold;
}
.container-play .play-list .play-list-row:before, .container-play .play-list .play-list-row:after {
  content: " ";
  display: table;
}
.container-play .play-list .play-list-row:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

@media (max-width: 480px){
  .container-play{
    position: absolute;
    top: -100%;
    width: 100%;
    padding: 15px;
    z-index: 9999;
    background-color: #0d4c41;
    display: none;
    transition: .3s all;
  }
  .showme{
    display: block !important;
    transition: .3s all;
    top: -1%;
  }
  .fix-form-display{
    display: inline-block;
    width: 100%;
  }
  .c-lang {
    font-family: andes;
    font-size: 18px;
    border: 1px solid #fff;
    padding: 1px 5px;
    margin-left: 10px
  }

  .btn.c-lang:hover, .btn:focus, .btn.focus {
      color: #fff;
      text-decoration: none;
      border: 1px solid #fff;
  }

  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
      background-color: #eee0;
      border-color: #fff;
  }

  div.dropdown-menu.lang{
    margin: 20px;
    background-color: #fff;
    display: inline;
    padding: 5px
  }
  .bg-white {
    background-color: #ffffff;
  }
  div.dropdown.open {
    vertical-align: middle;
  }
}

.c-lang {
    font-family: andes;
    font-size: 18px;
    border: 1px solid #fff;
    padding: 1px 5px;
    margin-top: 10px
}

.btn.c-lang:hover, .btn:focus, .btn.focus {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eee0;
    border-color: #fff;
}
