/* 2019
Adding Video
*/
body{
	margin: 0;
	padding: 0;
}
.load-video{
	width: 100%;
	height: 100vh;
	background-color: #fff;
}

.fullscreen-bg__video{
	width: 100%;
	height: 100%;
	display: block;
	/*background-color: #d34037;*/
}
